
<div fxLayoutAlign='center center'  *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div fxLayout='row'>
  <br>
</div>
<div fxLayoutAlign='center center'  *ngIf="dataSource.data.length <= 0 && !isLoading">
  <p>Nothing to display</p>
</div>
<div fxLayoutAlign='center center'  *ngIf="dataSource.data.length > 0 && !isLoading">
  <mat-form-field fxFlex='40%'>
    <input matInput type="text" (keyup)='doFilter($event.target.value)' placeholder="Search for invoice">
  </mat-form-field>
</div>
<div fxLayout='row'>
    <br>
</div>
<div class="example-container mat-elevation-z1"  *ngIf="dataSource.data.length > 0 && !isLoading">
    <mat-table [dataSource]='dataSource' matSort>
        <ng-container matColumnDef='InvoiceNumber'>
            <mat-header-cell mat-sort-header *matHeaderCellDef >Invoice Number</mat-header-cell>
            <mat-cell *matCellDef='let element'>
                <span class="mobile-label">Invoice Number : </span>
              {{element.InvoiceNumber}}
              </mat-cell>
        </ng-container>
        <ng-container matColumnDef='InvoiceTo'>
            <mat-header-cell mat-sort-header *matHeaderCellDef >Invoice To</mat-header-cell>
            <mat-cell *matCellDef='let element'>
                <span class="mobile-label">Invoice To :</span>
               {{element.ToCompanyName}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef='InvoiceFile'>
            <mat-header-cell mat-sort-header *matHeaderCellDef >Invoice File</mat-header-cell>
            <mat-cell *matCellDef='let element'>
                <span class="mobile-label">Invoice File :</span>
              {{element.InvoiceFile}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef='InvoiceDate'>
            <mat-header-cell mat-sort-header *matHeaderCellDef >Invoice Date</mat-header-cell>
            <mat-cell *matCellDef='let element'>
                <span class="mobile-label">Invoice Date :</span>
              {{element.InvoiceDate | date}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='InvoicePaymentStatus'>
          <mat-header-cell mat-sort-header *matHeaderCellDef >Payment Status</mat-header-cell>
          <mat-cell *matCellDef='let element'>
              <span class="mobile-label">Payment Status :</span>
                <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [checked]="element.InvoicePaymentStatus === 'PAID'? true : false"
                [disabled]="disabled"
                (toggleChange)="UpdatePaymentStatus(element)"
                >
                {{element.InvoicePaymentStatus}}
            </mat-slide-toggle>
          </mat-cell>
      </ng-container>
        <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
        <mat-row *matRowDef='let row; columns: displayedColumns;'></mat-row>
      </mat-table>
</div>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 5, 10]"  *ngIf="dataSource.data.length > 0"></mat-paginator>
