
a{
  text-decoration: none;
  color: white;
  cursor: default;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: smaller;
}

.mat-menu-panel {
  background-color: rgba(63, 81, 181, 1) !important;
}

.mat-menu-item {
  color: white !important;
}
