.startcontainer {
  background-color: gray;
  height: 500px;
  padding: 8%;
}

.startcontainer p {
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
}

mat-card {
  width: 55%;
  height: 350px;
  padding-top: 6%;
  padding-bottom: 6%;
  text-align: center;
}

.cardholdercontainer {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.example-header-image1 {
  background-image: url('https://camo.githubusercontent.com/1244e17b91011c92dc56b112ff8f2d4054dacee7/68747470733a2f2f7261772e6769746875622e636f6d2f656c61646e6176612f6d6174657269616c2d6c65747465722d69636f6e732f6d61737465722f646973742f706e672f4c2e706e67');
  background-size: cover;
  align-content: center;
}
.example-header-image2 {
  background-image: url('https://camo.githubusercontent.com/1244e17b91011c92dc56b112ff8f2d4054dacee7/68747470733a2f2f7261772e6769746875622e636f6d2f656c61646e6176612f6d6174657269616c2d6c65747465722d69636f6e732f6d61737465722f646973742f706e672f4c2e706e67');
  background-size: cover;
  align-content: center;
}
.example-header-image3 {
  background-image: url('https://camo.githubusercontent.com/1244e17b91011c92dc56b112ff8f2d4054dacee7/68747470733a2f2f7261772e6769746875622e636f6d2f656c61646e6176612f6d6174657269616c2d6c65747465722d69636f6e732f6d61737465722f646973742f706e672f4c2e706e67');
  background-size: cover;
  align-content: center;
}
.mat-card-avatar {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
