<section>
  <div class='startcontainer' fxLayout='column' fxLayoutAlign='center center'>
    <h1>Welcome To Evolabs Invoice Generation Application</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
      galley of type and scrambled it to make a type specimen book.</p>
  </div>
  <div fxLayoutAlign='center center'>
      <h1>How it Works?</h1>
  </div>
  <div fxLayout="column" fxLayout.gt-xs='row' class='cardholdercontainer' fxLayoutAlign='center center' fxLayoutGap='8%'>
      <mat-card class="mat-elevation-z1" fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='center center'>
          <mat-card-header fxLayout='column' fxLayoutAlign='center'>
              <div mat-card-avatar class="example-header-image1"></div>
          </mat-card-header>
          <mat-card-content>
            <h1>More than 5000 clients</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s.</p>
          </mat-card-content>
      </mat-card>
      <mat-card class="mat-elevation-z1" fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='center center'>
          <mat-card-header fxLayout='column' fxLayoutAlign='center'>
              <div mat-card-avatar class="example-header-image2"></div>
          </mat-card-header>
          <mat-card-content>
            <h1>Track Invoice History</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s.</p>
          </mat-card-content>
      </mat-card>
      <mat-card class="mat-elevation-z1" fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='center center'>
          <mat-card-header fxLayout='column' fxLayoutAlign='center'>
              <div mat-card-avatar class="example-header-image3"></div>
          </mat-card-header>
          <mat-card-content>
            <h1>Easy and Secure Access</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s.</p>
          </mat-card-content>
      </mat-card>
  </div>
  <div>
    <br><br><br>
  </div>
</section>
