<section>
  <div class= 'start-div' fxLayout fxLayoutAlign='center center'>
    <div fxLayout='column' fxAlign='center center'>
        <div class='heading-para'  fxLayout='column'>
            <h1>EvoInvoice Generation Application</h1>
          </div>
          <div class='text-para' fxLayoutAlign='center center' fxLayout='column'>
            <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book.</p>
          </div>
    </div>
  </div>
</section>
