<section>
    <div fxLayout fxLayout.xs='column' fxLayoutGap='3%' fxLayoutAlign='center center'>
      <h2>Account Overview</h2>
    </div>
    <div fxLayout fxLayout.xs='column' fxLayoutGap='3%' fxLayoutAlign='center center'><br></div>
    <div class='card-row' >
        <div fxLayout fxLayout.xs='column' fxLayoutAlign='center center' fxLayoutGap='1%'>
                <mat-card fxLayout='column' fxLayoutAlign='center'>
                    <mat-card-header fxLayout='column' fxLayoutAlign='center center'>
                      <h5>Current</h5>
                        <i class="material-icons">money</i>
                    </mat-card-header>
                    <mat-card-content fxLayoutAlign='center'>
                        {{currentValue}}
                    </mat-card-content>
                  </mat-card>
                  <mat-card fxLayout='column' fxLayoutAlign='center'>
                      <mat-card-header fxLayout='column' fxLayoutAlign='center center'>
                        <h5>Overdue</h5>
                        <i class="material-icons">money</i>
                      </mat-card-header>
                      <mat-card-content fxLayoutAlign='center'>
                          {{overdueValue}}
                      </mat-card-content>
                    </mat-card>
        </div>
    </div>

</section>
