#emailtable {
  border-collapse: collapse;
  width: 100%;
}

#emailtable td, #emailtable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#emailtable tr:nth-child(even){background-color: #f2f2f2;}

#emailtable tr:hover {background-color: #ddd;}

#emailtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff4081;
  color: white;
}
