<section>
  <div class='InvoiceGenerationSection' fxLayout="column" fxLayout.gt-xs='row'>
    <div class='InvoiceGenerationForm' fxLayout='column' fxFlex="40">
      <mat-accordion>
        <form [formGroup]='form' (submit)='generateBill()' fxLayout='column' fxLayoutGap='10px'>
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Invoice Details
              </mat-panel-title>
              <mat-panel-description>
                Add invoice Number
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              <mat-form-field>
                <input placeholder="Enter invoice number" type="text" matInput formControlName="InvoiceNumber"
                  [(ngModel)]='invoiceNumber'>
                <mat-error *ngIf="form.get('InvoiceNumber').invalid">Please Enter invoice Number.</mat-error>
              </mat-form-field>
            </p>
            <mat-action-row>
              <button mat-button color="primary" type='button' (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Company Details
              </mat-panel-title>
              <mat-panel-description>
                Add Your Company Details
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field style="width: 80%">
              <input placeholder="Enter Company Name" type="text" matInput formControlName="CompanyName"
                [(ngModel)]='companyName'>
              <mat-error *ngIf="form.get('CompanyName').invalid">Please Enter invoice Number.</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 80%">
              <input placeholder="Enter Company Address 1" type="text" matInput formControlName="CompanyAddressInitial"
                [(ngModel)]='companyAddressInitial'>
              <mat-error *ngIf="form.get('CompanyAddressInitial').invalid">Please Enter Company Address.</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 80%">
              <input placeholder="Enter Company Address 2" type="text" matInput formControlName="CompanyAddressPart2"
                [(ngModel)]='companyAddressPart2'>
              <mat-error *ngIf="form.get('CompanyAddressPart2').invalid">Please Enter Company Address.</mat-error>
            </mat-form-field>
            <div fxLayout.gt-xs='row' fxLayoutGap='10px'>
              <mat-form-field style="width: 80%">
                <input placeholder="Enter Company City" type="text" matInput formControlName="CompanyCity"
                  [(ngModel)]='companyCity'>
                <mat-error *ngIf="form.get('CompanyCity').invalid">Please Enter Company City.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input placeholder="Enter Company Pincode" type="text" matInput formControlName="CompanyPincode"
                  [(ngModel)]='companyPincode'>
                <mat-error *ngIf="form.get('CompanyPincode').invalid">Please Enter Company City.</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout.gt-xs='row' fxLayoutGap='10px'>
              <mat-form-field style="width: 80%">
                <input placeholder="Enter Company State" type="text" matInput formControlName="CompanyState"
                  [(ngModel)]='compnayState'>
                <mat-error *ngIf="form.get('CompanyState').invalid">Please Enter Company City.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input placeholder="Enter Company Country" type="text" matInput formControlName="CompanyCountry"
                  [(ngModel)]='companyCountry'>
                <mat-error *ngIf="form.get('CompanyCountry').invalid">Please Enter Company Country.</mat-error>
              </mat-form-field>
            </div>
            <mat-form-field>
              <input placeholder="Enter Company GSTN" type="text" matInput formControlName="CompanyGSTN"
                [(ngModel)]='companyGSTN'>
              <mat-error *ngIf="form.get('CompanyGSTN').invalid">Please Enter Company GSTN.</mat-error>
            </mat-form-field>

            <mat-action-row>
              <button mat-button color="warn" type='button' (click)="prevStep()">Previous</button>
              <button mat-button color="primary" type='button' (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                To Company Details
              </mat-panel-title>
              <mat-panel-description>
                Add To Company Details
              </mat-panel-description>
            </mat-expansion-panel-header>
              <mat-form-field>
                <input type="text" placeholder="Select Client Name" aria-label="Number" matInput [formControl]="myControl"
                 [matAutocomplete]="auto">
                 <button mat-icon-button (click)='clearClientDetails()' matSuffix><mat-icon>close</mat-icon></button>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getClientFields($event.option.value)'>
                  <mat-option *ngFor="let option of options" [value]="option.ClientCompanyName">
                    {{option.ClientCompanyName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            <mat-form-field style="width: 80%;">
              <input placeholder="Enter To Company Name" type="text" matInput formControlName="ToCompanyName"
                [(ngModel)]='toCompanyName'>
              <mat-error *ngIf="form.get('ToCompanyName').invalid">Please Enter To Company name.</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 80%;">
              <input placeholder="Enter To Company Address 1" type="text" matInput
                formControlName="ToCompanyAddressInitial" [(ngModel)]='toCompanyAddressInitial'>
              <mat-error *ngIf="form.get('ToCompanyAddressInitial').invalid">Please Enter To Company Address.
              </mat-error>
            </mat-form-field>
            <mat-form-field style="width: 80%;">
              <input placeholder="Enter To Company Address 2" type="text" matInput
                formControlName="ToCompanyAddressPart2" [(ngModel)]='toCompanyAddressPart2'>
              <mat-error *ngIf="form.get('ToCompanyAddressPart2').invalid">Please Enter Company Address.</mat-error>
            </mat-form-field>
            <div fxLayout.gt-xs='row' fxLayoutGap='10px'>
              <mat-form-field>
                <input placeholder="Enter To Company City" type="text" matInput formControlName="ToCompanyCity"
                  [(ngModel)]='toCompanyCity'>
                <mat-error *ngIf="form.get('ToCompanyCity').invalid">Please Enter Company City.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input placeholder="Enter To Company Pincode" type="text" matInput formControlName="ToCompanyPincode"
                  [(ngModel)]='toCompanyPincode'>
                <mat-error *ngIf="form.get('ToCompanyPincode').invalid">Please Enter Company City.</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout.gt-xs='row' fxLayoutGap='10px'>
              <mat-form-field>
                <input placeholder="Enter To Company State" type="text" matInput formControlName="ToCompanyState"
                  [(ngModel)]='toCompnayState'>
                <mat-error *ngIf="form.get('ToCompanyState').invalid">Please Enter Company State.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input placeholder="Enter To Company Country" type="text" matInput formControlName="ToCompanyCountry"
                  [(ngModel)]='toCompanyCountry'>
                <mat-error *ngIf="form.get('ToCompanyCountry').invalid">Please Enter Company Country.</mat-error>
              </mat-form-field>
            </div>
            <mat-form-field>
              <input placeholder="Enter To Company GSTN" type="text" matInput formControlName="ToCompanyGSTN"
                [(ngModel)]='toCompanyGSTN'>
              <mat-error *ngIf="form.get('ToCompanyGSTN').invalid">Please Enter Company City.</mat-error>
            </mat-form-field>
            <mat-action-row>
              <button mat-button color="warn" type='button' (click)="prevStep()">Previous</button>
              <button mat-button color="primary" type='button' (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Invoice Date and Terms
              </mat-panel-title>
              <mat-panel-description>
                Add invoice date and terms
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout='column' fxLayoutAlign='center'>
              <mat-form-field style="width: 60%">
                <input matInput [matDatepicker]="picker" placeholder="Choose a Bill Date" [(ngModel)]='invoiceDate'
                  formControlName='InvoiceDate' required>
                <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field style="width: 60%">
                <textarea placeholder="Enter invoice terms" rows='2' cols='50' type="text" matInput
                  formControlName="InvoiceTerms" [(ngModel)]='invoiceTerms'></textarea>
                <mat-error *ngIf="form.get('InvoiceTerms').invalid">Please Enter invoice terms.</mat-error>
              </mat-form-field>
            </div>
            <mat-action-row>
              <button mat-button color="warn" type='button' (click)="prevStep()">Previous</button>
              <button mat-button color="primary" type='button' (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Add Items
              </mat-panel-title>
              <mat-panel-description>
                Add Billing Items
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayoutGap='10px'>
              <div fxLayout.gt-xs='row' fxLayoutGap='10px'>
                <mat-form-field>
                  <input placeholder="Enter item number." type="text" matInput formControlName="ItemNumber"
                    [(ngModel)]='itemNumber'>
                  <mat-error *ngIf="form.get('ItemNumber').invalid">Please Enter item number.</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input placeholder="Enter item name." type="text" matInput formControlName="ItemName"
                    [(ngModel)]='itemName'>
                  <mat-error *ngIf="form.get('ItemName').invalid">Please Enter item name.</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout.gt-xs='row' fxLayoutGap='10px'>
                <mat-form-field>
                  <input placeholder="Enter item Quantity" type="text" matInput formControlName="ItemQty"
                    [(ngModel)]='itemQty'>
                  <mat-error *ngIf="form.get('ItemQty').invalid">Please Enter item quantity.</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input placeholder="Enter item Rate" type="text" matInput formControlName="ItemRate"
                    [(ngModel)]='itemRate'>
                  <mat-error *ngIf="form.get('ItemRate').invalid">Please Enter item Rate.</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout.gt-xs='row' fxLayoutGap='10px'>
                <button type="button" mat-raised-button
                  (click)="addItem(form.get('ItemNumber').value, form.get('ItemName').value, form.get('ItemQty').value, form.get('ItemRate').value)">Add</button>
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="warn" type='button' (click)="prevStep()">Previous</button>
              <button mat-button color="primary" type='button' (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Remove Items
              </mat-panel-title>
              <mat-panel-description>
                Remove Billing Items
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout='column' fxLayoutAlign='center'>
              <table border="0">
                <tr>
                  <th>Item No (#)</th>
                  <th>Item Name</th>
                  <th>Qty</th>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Remove</th>
                </tr>
                <tr *ngFor="let item of itemList">
                  <td>{{item.itemNumber}}</td>
                  <td>{{item.itemName}}</td>
                  <td>{{item.itemQty}}</td>
                  <td>{{item.itemRate}}</td>
                  <td>{{item.itemCost}}</td>
                  <td><button mat-icon-button type='button' (click)='deleteItem(item.itemNumber)'>
                      <mat-icon>delete</mat-icon>
                    </button></td>
                </tr>
              </table>
            </div>
            <mat-action-row>
              <button mat-button color="warn" type='button' (click)="prevStep()">Previous</button>
              <button mat-button color="primary" type='button' (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                GST Details
              </mat-panel-title>
              <mat-panel-description>
                Add Your Company Details
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayoutGap='10px'>
              <mat-form-field>
                <input placeholder="Enter GST Value" type="text" matInput formControlName="ItemGSTValue"
                  [(ngModel)]='itemGstValue'>
                <mat-error *ngIf="form.get('ItemGSTValue').invalid">Please Enter item Rate.</mat-error>
              </mat-form-field>
              <button type='button' mat-raised-button
                (click)="calculateGST(form.get('ItemGSTValue').value)">Apply</button>
            </div>
            <mat-action-row>
              <button mat-button color="warn" type='button' (click)="prevStep()">Previous</button>
              <button mat-button color="primary" type='button' (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Add Invoice Notes
              </mat-panel-title>
              <mat-panel-description>
                Add Notes for Customer
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              <mat-form-field>
                <textarea matInput placeholder="Enter Notes Here" rows="5" cols="50" formControlName="InvoiceNotes"
                  [(ngModel)]='invoiceNotes'></textarea>
                <mat-error *ngIf="form.get('InvoiceNotes').invalid">Invoice Notes are required.</mat-error>
              </mat-form-field>
            </p>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-raised-button color='accent' type='submit'>Save Invoice</button>
            </mat-action-row>
          </mat-expansion-panel>
        </form>
      </mat-accordion>
    </div>

    <div class="container-fluid invoice-preview" >
      <div class="row">
        <div class="col-md-8 logo">
          <img src="..\assets\evo-white-350.png" height='150px' width='300px'>
        </div>
        <div class="col-md-4">
          <span class='invoiceTitle'>INVOICE</span>
          <br>
          <span>Invoice # {{invoiceNumber}}</span>
          <br>
          <span>Invoice Date : {{invoiceDate | date}}</span>
          <br>
          <span style="white-space: pre">Terms : {{invoiceTerms}}</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div fxLayout='column' fxFlexAlign='start' class="billFrom">
            <span><b>Bill From : </b></span>
            <span>{{companyName}}</span>
            <span>{{companyAddressInitial}}</span>
            <span>{{companyAddressPart2}}</span>
            <span>{{companyCity}}</span>
            <span>Pincode: {{companyPincode}}</span>
            <span>{{compnayState}}, {{companyCountry}}</span>
            <span>{{companyGSTN}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div fxLayout='column' fxFlexAlign='start' class="billTo">
            <span><b>Bill To : </b></span>
            <span>{{toCompanyName}}</span>
            <span>{{toCompanyAddressInitial}}</span>
            <span>{{toCompanyAddressPart2}}</span>
            <span>{{toCompanyCity}}</span>
            <span>Pincode: {{toCompanyPincode}}</span>
            <span>{{toCompnayState}}, {{toCompanyCountry}}</span>
            <span>{{toCompanyGSTN}}</span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">

          <table class="table">
            <thead>
              <tr>
                <th>Item No (#)</th>
                <th>Item Name</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemList">
                    <td>{{item.itemNumber}}</td>
                    <td>{{item.itemName}}</td>
                    <td>{{item.itemQty}}</td>
                    <td>{{item.itemRate}}</td>
                    <td>{{item.itemCost}}</td>
                </tr>

            <tr class="invoiceTotal">
              <td colspan="4" align="right" >Sub Cost :</td>
              <td><span> {{itemSubTotalCost.toFixed(2)}}</span></td>
            </tr>
            <tr class="invoiceTotal">
                <td colspan="4" align="right" >CGST({{itemCGSTValue}}%) :</td>
                <td><span> {{itemCGST.toFixed(2)}}</span></td>
              </tr>
              <tr class="invoiceTotal">
                <td colspan="4" align="right" >SGST({{itemSGSTValue}}%) :</td>
                <td><span> {{itemSGST.toFixed(2)}}</span></td>
              </tr>
              <tr class="invoiceTotal">
                <td colspan="4" align="right" >Total Cost :</td>
                <td><span> {{itemTotalCost.toFixed(2)}}</span></td>
              </tr>
          </table>
          <div class="row">
            <div class="col-md-12">
                <div fxLayout='column' fxFlexAlign='start'>
                    <span>Notes :</span>
                    <span style="white-space: pre">{{invoiceNotes}}</span>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div fxLayout='row' class='invoiceFooter' fxLayoutAlign='center'>
                    <span>Copyright &copy; {{footerYear}}-{{footerYear + 1}} {{companyName}}</span>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='center center'>
    <br>
  </div>
</section>
