mat-form-field {
  width: 300px;
}

mat-card {
  padding-top: 6%;
  padding-bottom: 3%;
  margin: auto;
}

.CompanyProfile {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
